@font-face {
  font-family: work-sans;
  src: url("../fonts/WorkSans-VariableFont_wght.ttf");
}

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-light-pink: hsl(275, 100%, 97%);
  --color-grayish-purple: hsl(292, 16%, 49%);
  --color-dark-purple: hsl(292, 42%, 14%);
  --font-contenido: work-sans, serif;
}

body {
  margin: 0;
  background-color: var(--color-light-pink);
  position: relative;
}
* {
  box-sizing: border-box;
  font-family: var(--font-contenido);
}
.contenedor_background {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}
.contenedor_image {
  background-image: url("../images/background-pattern-mobile.svg");
  background-size: contain;
  height: 235px;
  width: 100%;

  @media screen and (min-width: 400px) {
    background-image: url("../images/background-pattern-desktop.svg");
    background-size: cover;
    height: 320px;
  }
}
.card_row_acordion {
  margin-bottom: 28px;
}

.contenedor_card {
  padding-block: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 10px;
  @media screen and (min-width: 400px) {
    padding-top: 10.5rem;
  }
}
.card {
  border-radius: 10px;
  background-color: var(--color-white);
  width: 86%;
  margin: auto;
  padding-left: 26px;
  padding-right: 13px;
  @media screen and (min-width: 400px) {
    max-width: 600px;
    padding-left: 43px;
    padding-right: 39px;
  }
}

.contenedor_card_header {
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  column-gap: 25px;
  padding-top: 27px;
  @media screen and (min-width: 400px) {
    padding-top: 48px;
    font-size: 54px;
  }
}
.contenedor_card_header img {
  width: 24px;
  @media screen and (min-width: 400px) {
    width: 37px;
  }
}

.card_row_acordion_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  margin-top: 26px;
  margin-bottom: 18px;
  @media screen and (min-width: 400px) {
    margin-top: 35px;
    font-weight: 800;
  }
}

.card_row_acordion_header:hover {
  color: var(--color-grayish-purple);
  cursor: pointer;
}
.card_row_acordion_header--activo {
  color: var(--color-grayish-purple);
  cursor: pointer;
}
.card_row_acordion h2 {
  font-weight: 600;
  @media screen and (min-width: 400px) {
    font-weight: 700;
    letter-spacing: 1px;
  }
}
.card_row_acordion_header h2 {
  line-height: 21px;
}
.card_row_acordion_contenedor_img {
  width: 30px;
  height: 30px;
}

.card_row_acordion_contenido {
  font-size: 14px;
  line-height: 21px;
  padding-right: 5px;
  @media screen and (min-width: 400px) {
    font-size: 16px;
    padding-top: 7px;
    line-height: 24px;
    padding-right: 0px;
    margin-bottom: 13px;
  }
}

/*
Control acordeon
*/
.wrapper_acordion_row_contenido {
  height: 0;

  overflow-y: hidden;

  transition: height 0.6s ease-in-out;
}
.activo {
}
/*
Estilos Footer
*/

.attribution {
  font-size: 11px;
  text-align: center;
  color: black;
  display: grid;
  row-gap: 8px;
  font-family: var(--font-contenido);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.attribution .developer {
  margin-bottom: 1rem;
}
.attribution .developer a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 1rem;
  @media screen and (min-width: 400px) {
    font-size: 1.5rem;
  }
}
.attribution .developer a:hover {
  text-decoration: underline;
  color: blue;
  font-style: italic;
}
